.spanlabel{
		padding: 7px 0px 0px 0px;
	
}

.wizardspan h2 {
    font-size: 130%;
    float: right;
    color: #205791;

    
}

.disabledtext{
    background-color: #D9D9D9;
}


.error label{
    background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;    
}

div.invalid {border:2px solid #ddd;  padding-top: 5px; padding-left: 5px;padding-bottom: 5px;padding-right: 5px}
select.invalid, input.invalid, div.invalid { background-color: #FFFFD5;color:#8a1f11;border: 2px solid red;}
div.invalid {color:#8a1f11;}
div.invalid label{font-size: larger}
div.invalid {clear:both}

.spinnerwait {
    background-image: url("../img/spinner.gif");
    background-repeat: no-repeat ;
    margin-top: 6px;
    margin-left: 5px;
    padding-left: 25px;
    width: 15px;
    height: 15px;
    float: left;
}

.checked {
    background-image: url("../img/check.gif");
    background-repeat:  no-repeat;
    margin-top: 2px;
    margin-left: 5px;
    padding-left: 25px;
    width: 17px;
    height: 17px;
    float: left;

}
