.inputlarge{
	width: 300px;
}

h1,h2{
	text-align: center;
}

.spanlabel{
		padding: 7px 0px 0px 0px;
	
}

.geoinput{
	width:300px;
}

.largeinput{
	width:200px;
}

.searchinput{
	width:250px;
	
}

.hidden{
	display:none;
}

.spinnerwait {
    background-image: url("../images/spinner.gif");
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    float: right;
}