body {
	font-family: "tahoma", "arial", "helvetica", "sans-serif";
	font-size: 8pt;
	background: #4E7DB1;
	margin: 0; /* es recomendable ajustar a cero el margen y el relleno del elemento body para lograr la compatibilidad con la configuración predeterminada de los diversos navegadores */
	padding: 0;
	color: #000000;
	text-align: center;
}
.pagina #contenido {
	width: 800px;
	/*margin: 30 20 0 20; /* recuerde que el relleno es el espacio situado dentro del cuadro div y que el margen es el espacio situado fuera del cuadro div */
	background-color:#FFF;
}
.oneColElsCtr #contenido h1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	text-align:center;
	color: #000;
	background-image:url(img/menu.jpg);
	height: 20px;
	width:90%;
}
.oneColElsCtr #mainContent form1 {
	background: #EBF3FB;
	width:90%;
	margin-top: 0;
	margin-bottom: 0;
	padding: 10px 0px 10px 0px;
	text-align: left;
	color: #F0F;
}
input, select, textarea {
	font-family: "tahoma", "arial", "helvetica", "sans-serif";
	font-size: 8pt;
}
button        { font-size: 10px;  }
input.disabled { background-color: #F7F7F7; }
input.button  { cursor: pointer;   }
input:focus,
select:focus,
textarea:focus {
background-color: #CFF;
}
table.listado {
	width: 90%;
	border-spacing: 1px;
	background-color: #e7e7e7;
	color: #000;
	font-weight: normal;
}

table.listado td,
table.listado tr { padding: 4px; }

table.listado thead tr {
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
	background: url(img/bg_header.jpg) no-repeat;
	color: #666;
	border-bottom: 1px solid #999;
	border-left: 1px solid #fff;
}

table.listado tbody th { font-weight: bold; }

table.listado tbody tr			{ background-color: #fff;  text-align: left; }
table.listado tbody tr.row1 	{ background: #C1DAD7;; border-top: 1px solid #fff; }

table.listado tbody tr.row0:hover td,
table.listado tbody tr.row1:hover td  { background-color: #ffd ; }

table.listado tbody tr td 	   { height: 25px; background: #fff; border: 1px solid #fff; }
table.listado tbody tr.row1 td { background: #f9f9f9; border-top: 1px solid #FFF; }

table.listado tfoot tr { text-align: center;  color: #333; }
table.listado tfoot td,
table.listado tfoot th { background-color: #f3f3f3; border-top: 1px solid #999; text-align: center; }

table.listado td.order 		{ text-align: center; white-space: nowrap; }
table.listado td.order span { float: left; display: block; width: 20px; text-align: center; }

.paginado{
color: #999;
text-align:center;
}
