/* A CSS Framework by Mike Stenhouse of Content with Style */

/* FORM ELEMENTS 
	form {
		margin:0;
		padding:0;
	}
	form div,
	form p {
		font-size: 1em;
		margin: 0 0 1em 0;
		padding: 0;
	}
	label {
		font-weight: bold;
	}
	fieldset {
		border: 1px solid #eee;
		padding: 5px 10px;
		margin: 0 0 1.5em 0;
	}
	fieldset legend {
		color: #666;
		font-size: 1.1em;
		font-weight: bold;
		margin: 0 0 0 0px;
		padding: 0;
		background-color: white;
	}
	* html fieldset legend {
		margin: 0 0 10px -10px;
	}
	fieldset ul {
		list-style: none;
		margin: 0 0 1.5em 0;
		padding: 0;
	}
	fieldset ul li {
		list-style: none;
		margin: 0 0 0.5em 0;
		padding: 0;
	}
     
	
	input, select, textarea {
		font-size:1em; 
		font-family: arial, helvetica, verdana, sans-serif;
        
        margin: 0;
		padding: 2px;
	}
	
	input, select {
		vertical-align:middle;
	}
	textarea {
		width: 200px;
		height: 8em;
	}
	
	input.check {
		border: none;
		width: auto;
		height: auto;
		margin: 0;
	}
	input.radio {
		border: none;
		width: auto;
		height: auto;
		margin: 0;
	}
	input.file {
		height: auto;
		width: 250px;
	}
	input.readonly {
		background-color: transparent;
		border: none;
	}
	input.button {
		width: 10em;
		border:1px solid black;
		background-color: #ddd;
	}
	input.image {
		border: none;
		width: auto;
		height: auto; 
	}
	
    form div.submit {
		margin: 1em 0;
	}
    form div.submit input {
		height: 2em;
        width: 15em;
	}
	

	
 END FORM ELEMENTS */
		
		
fieldset
{
-moz-border-radius: 7px; 
border: 1px #dddddd solid;
padding: 10px;
width: 550px;
margin-top: 10px;
}

fieldset legend
{
border: 1px #1a6f93 solid; 
color: black; 

font-family: Verdana;
font-weight: none;
font-size: 13px;

padding-right: 5px;
padding-left: 5px;
padding-top: 2px;
padding-bottom: 2px;

-moz-border-radius: 3px;
}

/* Label */
label 
{
width: 140px;
padding-left: 20px;
margin: 5px;
float: left;
text-align: left;
}

/* Input, Textarea */
 input, textarea, select, radio
{
/*margin: 5px;*/
padding: 1px 2px 1px 5px; 
float: left;
}

form p{
	float:left;
}

button{
	margin: 0px;
	padding:0px;
	float:left;
}

/* BR */

br
{
clear: left;
}


.ingresodialogfieldset
{
-moz-border-radius: 7px; 
border: 1px #dddddd solid;
padding: 10px;
width: 100px,
margin-top: 10px;
}


