/* A CSS Framework by Mike Stenhouse of Content with Style */

@import url("forms.css");

/* SITE SPECIFIC LAYOUT */
    body {
        margin: 0;
        padding: 0;
        background: #606060; 
        text-align: center;
    }
    
    /* Force vertical scrollbar to avoid page shift in browsers such as Firefox */
	html { min-height: 100%; margin-bottom: 1px; }
    

	div#branding {
	    height:150px;
	    
		background: url('../../images/consultorio.jpg') no-repeat left;
		margin-bottom:15px;		
	}   
	
	div#branding p{
		
		text-align:center;
	}
	 
    div#page {
        width: 780px;
        margin:  0 auto;
        padding: 0;
        background: white;
        
    }
    
    /* HEADER */
        div#header {
            margin: 0px 0px 20px 0px;
            padding: 5px 0px 20px 0px;
            color: white;
            background: #698499;
            text-align: left;
        }
        div#search {
            float: right;
            width: 49%;
            
            margin: 0;
            padding: 35px 20px 20px 0px;
            
            text-align: right;
        }
    /* END HEADER */
    
    
    /* CONTENT */
        div#content {
        	padding: 0px 0px 0px 0px;    
        }
        
        /* MAIN */
            div#main {
            	padding: 0px 0px 0px 0px;    
            }
        /* END MAIN */
        
        /* SUB */
            div#sub {
                
            }
        /* END SUB */
        
    /* END CONTENT */
    
    
    /* FOOTER */
        div#footer {
            color: white;
            background: #698499;
            margin: 0;
            
        }
        div#footer p {
            font-size: 0.8em;
            text-align:center;
            margin: 0;
            padding: 15px;
        }
    /* END FOOTER */
    
	
/* TABLES */
	.list table {
	    padding: 10px 0px 5px 0px;
	    margin: 10px 5px 10px 5px;
		padding-left: 0px;
		border: 1px solid #D9D9D9;
		border-collapse: collapse;
		width: 100%;
	}
	.list table tr td {
		padding: 7px 10px 0px 10px;
	    border: 0px;
		font-size: 11px; 
		color: #000000; 
		font-family: trebuchet ms, verdana, arial, sans-serif;
		border-left: 1px solid #D9D9D9;
	}
	.list table th {
		padding: 8px 10px 5px 10px;
		white-space: nowrap;
		font-size: 12px; 
		color: #263F55; 
		font-weight: bold;
		background-color: #AAD5E1;
		border-left: 1px solid #D9D9D9;
	}
    
	.list table th a, .list table th a:visited, .list table th a:link, .list table th a:active {
	    color: #263F55;
	    font-weight: bold;
	    text-decoration: none;
	}
	
	.list table th a:hover {
	    text-decoration: underline;
	    background-color: transparent;
	}	
	
	.list table tr.odd {
		background-color: #D1E7FA;
		border-bottom: 1px solid #BFDFE8;
	}
	
	
	/* APPFUSE TABLE STUFF */
	div.exportlinks {
		display: block;
		margin: 0px 0px 10px 10px;
		padding: 2px 4px 2px 0px;
	}
	
	span.pagebanner {
		display: block;
		margin: 10px 0px 0px 10px;
		padding: 2px 4px 2px 0px;
	}
	
	span.pagelinks {
		display: block;
		font-size: .95em;
		margin-bottom: 5px;
		margin-top: -18px;
		padding: 2px 0px 2px 10px;
		text-align: right;
		width: 100%;
	}	


    
/* END LAYOUT */

#welcome{
	height:300px;
	text-align:center;	
}


div.hidden{
	display:none;
}

div.body {
	padding:15px;
}