/*
Plantilla de remito pantalla
Zetap 2009
*/
body  {
	font-family: "arial", "helvetica", "sans-serif";
	font-size: 13px;
	background: #FFFFFF;
	margin: 0; 
	padding: 0;
	text-align: center;
	color: #000000;
}
#container {
	/*margin:25px 20px 10px;*/
	width:100%;
}
.clear {
	clear:both;
}
/* HEADER */
#header {
	width:100%;
	border:1px solid #ccc;
	margin-bottom:5px;
}
#header #logo {
	width:33%;
	float:left;
	display:block;
}
#header #logo img {
	vertical-align: middle;
}
#header #logo p {
	text-align:center;
	font-size:10px;
}
#header #logo p b {
	font-size:13px;
}
#header #comprobante {
	width:20%;
	float:left;
	display:block;
	margin-left:10%;
}
#header #comprobante #box{
	height:50px;
	width:50px;
	background-color: #999;
	color:#FFF;
	margin-top:0;
	margin:0 auto;
	font-weight:bold;
	text-align:center;
	font-size:40px;
	padding:0;
}
#header #fecha {
	width:33%;
	float:right;
	display:block;
	text-align:left;
	padding-top:5%;
}


/* CLIENTES */

#cliente {
	width:100%;
	border:1px solid #ccc;
	margin-bottom:5px;
	text-align:left;
}
#cliente label {
	display:block;
	width:100%;
	line-height:1.5em;
}



/* TABLA */
#tabla {
	width:100%;
	border:1px solid #ccc;
	margin-bottom:5px;
	text-align:left;
}


/* TOTALES */

#totales {
	width:25%;
	float:right;
}

#totales p.label {
	float:left;
	width:40%;
	display:block;
	margin:0;
}
#totales p.dinero {
	float:right;
	width:40%;
	display:block;
	margin:0;
}

#totales p.labeltotal {
	float:left;
	width:40%;
	display:block;
	margin-top:5%;
}
#totales p.dinerototal {
	float:right;
	width:40%;
	display:block;
	margin-top:5%;
	font-weight:bold;
}

/* FOOTER */

#footer {
	width:100%;
	margin-bottom:5px;
	text-align:left;
}

#footer #transporte {
	width:45%;
	float:left;
	border:1px solid #ccc;
}
#footer #destinatario {
	width:40%;
	float:right;
	border:1px solid #ccc;
}

#footer #transporte label, #footer #destinatario label {
	display:block;
	width:100%;
	line-height:2.5em;
	border-bottom:1px dotted #ccc;
}